<div class="modal custom-modal" id="fork-modal" >
  <div class="modal-dialog" role="document">

    <!--
    <form class="modal-content" action="./upload" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title">Upload corpus</h5>
        <button type="button" class="close" aria-label="Close" name="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>
          This will upload your treebank to your browser's local storage. If there is not
          enough space then the file will not be uploaded successfully. The amount of
          available space according to your browser is reported below.
        </p>
        <span title="Select a file to upload into the interface">
          <u>Choose and upload file</u>
          <input type="file" name="file" id="upload-filename" />
        </span>

      </div>

      <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-primary" disabled>Upload</button>
        <button type="button" name="close" class="btn btn-secondary">Close</button>
      </div>
    </form>
    -->

  </div>
</div>
