<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>UD Annotatrix</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome-base64.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../css/jquery.autocomplete.css" />
	<meta name="defaultLanguage" content="eng">
	<meta name="availableLanguages" content="eng, cat, rus">
	<script type="text/fluent" lang="rus">
		err_upos_invalid = Не существует « { $tag } » в списке Универсальных тагов частей речи.
		err_udeprel_invalid = Не существует « { $label } » в списке Универсальных зависимостей.
		err_udep_leaf_node = Узлы с тегом части речи « { $tag } » обычно не должны иметь зависящих.
	</script>
	<script type="text/fluent" lang="cat">
		err_upos_invalid = No es troba « { $tag } » a la llista d'etiquetes universals de categoria lèxica.
		err_udeprel_invalid = No es troba « { $label } » a la llista de relacions universals.
		err_udep_leaf_node = Els nodes amb l'etiqueta « { $tag } » normalment no hauríen de portar dependents.
	</script>
  <script type="text/fluent" lang="eng">
		err_upos_invalid = « { $tag } » is not in the list of Universal part-of-speech tags.
		err_udeprel_invalid = « { $label } » is not in the list of Universal dependency relations.
		err_udep_leaf_node = Nodes with the « { $tag } » part-of-speech tag should normally not have dependents.
  </script>
</head>

<body>

	<div id="content">

	  <div id="modals">

			<%- include(`${modalPath}/upload-file`) %>
			<%- include(`${modalPath}/upload-url`) %>
			<%- include(`${modalPath}/github-fork`) %>

	  </div>

		<div id="upper">

			<div id="top-buttons-container" class="row">
				<div class="btn-toolbar col-xs-6 corpusNavigation" role="toolbar">
					<div class="btn-group button-menu" id="dropdown-container">
						<a class="btn btn-secondary dropdown-toggle" href="#"  id="btnMenuDropdown">
							<i class="fa fa-bars" title="Click to see more"></i>
						</a>
						<div class="dropdown-content menu-hidden">
							<ul>
								<li class="dropdown-group" id="dropdown-user">
									<% if (username && username.length) { %>
										<span class="dropdown-group-title">
											User:
											<span id="username" class="logged-in">
												<%= username %>
											</span>
										</span>
										<a class="dropdown-group-item logged-in" href="#" name="logout">
											<span class="dropdown-group-item-name">
												<i class="fab fa-github"></i>
												Logout
											</span>
										</a>
										<a class="dropdown-group-item" href="#" name="manage-repos">
											<span class="dropdown-group-item-name">
												<i class="fa fa-clone"></i>
												Manage repositories
											</span>
										</a>
										<a class="dropdown-group-item" href="#" name="manage-permissions">
											<span class="dropdown-group-item-name">
												<i class="fa fa-users"></i>
												Manage permissions
											</span>
										</a>
									<% } else if (github_configured) { %>
										<span class="dropdown-group-title">
											User:
											<span id="username" class="not-logged-in disabled">
												none
											</span>
										</span>
										<a class="dropdown-group-item not-logged-in" href="#" name="login">
											<span class="dropdown-group-item-name">
												<i class="fab fa-github"></i>
												Login
											</span>
										</a>
									<% } else { %>
										<span class="dropdown-group-title">
											User:
											<span id="username" class="not-logged-in disabled">
												(GitHub not configured)
											</span>
										</span>
									<% }%>
									<a class="dropdown-group-item" href="#" name="chat">
										<span class="dropdown-group-item-name">
											<i class="fa fa-edit"></i>
											Chat
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
								</li>
								<hr>
								<li class="dropdown-group">
									<span class="dropdown-group-title">
										Corpus
									</span>
									<a class="dropdown-group-item pinnable" href="#" name="save-corpus">
										<span class="dropdown-group-item-name">
											<i class="fa fa-save"></i>
											Save
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable" href="#" name="upload-file">
										<span class="dropdown-group-item-name">
											<i class="fa fa-upload"></i>
											Upload
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable" href="#" name="upload-url">
										<span class="dropdown-group-item-name">
											<i class="fa fa-code-branch"></i>
											Upload from GitHub
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable" href="#" name="download-corpus">
										<span class="dropdown-group-item-name">
											<i class="fa fa-download"></i>
											Download
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable" href="#" name="discard-corpus">
										<span class="dropdown-group-item-name">
											<i class="fa fa-trash"></i>
											Discard
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
								</li>
								<hr>
								<li class="dropdown-group">
									<span class="dropdown-group-title">
										Export
									</span>
									<a class="dropdown-group-item pinnable export-button" href="#" name="export-as-latex">
										<span class="dropdown-group-item-name">
											<i class="fa fa-file-code"></i>
											as LaTeX
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable export-button" href="#" name="export-as-png">
										<span class="dropdown-group-item-name">
											<i class="fa fa-image"></i>
											as PNG
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable export-button" href="#" name="export-as-svg">
										<span class="dropdown-group-item-name">
											<i class="fa fa-layer-group"></i>
											as SVG
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
								</li>
								<hr>
								<li class="dropdown-group">
									<span class="dropdown-group-title">
										Show
									</span>
									<a class="dropdown-group-item pinnable" href="#" name="show-labels">
										<span class="dropdown-group-item-name" title="Toggle show labels">
											<i class="fa fa-tag"></i>
											Labels
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable" href="#" name="show-help">
										<span class="dropdown-group-item-name" title="Show help">
											<i class="fa fa-question-circle"></i>
											Help
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable" href="#" name="show-settings">
										<span class="dropdown-group-item-name" title="Show settings">
											<i class="fa fa-cog"></i>
											Settings
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
									<a class="dropdown-group-item pinnable" href="#" name="show-table">
										<span class="dropdown-group-item-name" title="Toggle show table">
											<i class="fa fa-code"></i>
											Table
										</span>
										<i class="pin fa fa-thumbtack" title="Pin to menu"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="input-group">
						<div class="input-group-btn">
							<a class="btn btn-secondary" href="#" id="btnPrevSentence">
								<i class="fa fa-arrow-left" title="Previous sentence"></i>
							</a>
						</div>
						<input class="form-control col-xs-2" id="current-sentence" value="1" size="2"/>
						<span class="input-group-addon">
							/&nbsp;
							<span id="total-sentences">1</span>
						</span>
						<div class="input-group-btn ml-auto">
							<a class="btn btn-secondary" href="#" id="btnNextSentence">
								<i class="fa fa-arrow-right" title="Next sentence"></i>
							</a>
						</div>
					</div>

					<div class="btn-group ml-sx-auto">
						<a class="btn btn-secondary" href="#"  id="btnRemoveSentence">
							<i class="fa fa-minus-circle" title="Delete sentence"></i>
						</a>
						<a class="btn btn-secondary" href="#"  id="btnAddSentence">
							<i class="fa fa-plus-circle" title="Add sentence"></i>
						</a>
					</div>

					<div class="btn-group ml-sx-auto">
						<a class="btn btn-secondary pinnable" href="#" name="save-corpus">
							<i class="fa fa-save" title="Save corpus"></i>
						</a>
						<a class="btn btn-secondary pinnable" href="#" data-toggle="modal" data-target="#fileModal" id="btnUploadCorpus" name="upload-file">
							<i class="fa fa-upload" title="Import corpus"></i>
						</a>
						<a class="btn btn-secondary pinnable" href="#" name="upload-url">
							<i class="fa fa-code-branch" title="Upload from GitHub"></i>
						</a>
						<a class="btn btn-secondary pinnable" id="btnExportCorpus" href="#" name="download-corpus">
							<i class="fa fa-download" title="Download corpus"></i>
						</a>
						<a class="btn btn-secondary pinnable" id="btnDiscardCorpus" href="#" name="discard-corpus">
							<i class="fa fa-trash" title="Discard corpus"></i>
						</a>
					</div>

					<div class="btn-group">
						<a class="btn btn-secondary pinnable export-button" href="#" name="export-as-latex">
							<i class="fa fa-file-code" title="Export as LaTeX"></i>
						</a>
						<a class="btn btn-secondary pinnable export-button" href="#" name="export-as-png">
							<i class="fa fa-image" title="Export as PNG"></i>
						</a>
						<a class="btn btn-secondary pinnable export-button" href="#" name="export-as-svg">
							<i class="fa fa-layer-group" title="Export as SVG"></i>
						</a>
					</div>

					<div class="btn-group">
						<button type="button" class="btn btn-primary" id="btnUndo" disabled="true">
							<i class="fa fa-undo" title="Undo"></i>
						</button>
						<button type="button" class="btn btn-primary" id="btnRedo" disabled="true">
							<i class="fa fa-redo" title="Redo"></i>
						</button>
					</div>

					<div class="btn-group">
						<a class="btn btn-secondary pinnable" href="#" name="show-labels">
							<i class="fa fa-tags" title="Show labels"></i>
						</a>
					</div>

					<div class="btn-group">
						<a class="btn btn-secondary pinnable" href="#" data-toggle="modal" data-target="#helpModal" id="btnHelp" name="show-help">
							<i class="fa fa-question-circle" title="Help"></i>
						</a>
					</div>

					<div class="btn-group">
						<a class="btn btn-secondary pinnable" href="#" data-toggle="modal" data-target="#settingsModal" id="btnSettings" name="show-settings">
							<i class="fa fa-cog" title="Settings"></i>
						</a>
					</div>


					<!--
					<div class="btn-group button-menu" id="dropdown-container">
						<a class="btn btn-secondary dropdown-toggle" href="#"  id="btnMenuDropdown">
							<i class="fa fa-bars" title="Click to see more"></i>
						</a>
						<div class="dropdown-content">
							<ul>
								<li class="dropdown-group" id="dropdown-user">
								-->
				</div>

				<div class="tabContainer col-xs-1 ml-auto" role="toolbar">
					<div id="tabBox" class="nav nav-tabs">

						<li class="nav-item">
							<a href="#" class="nav-link format-tab" id="brackets-tab" name="Brackets">
								Brackets
								<i class="fa fa-exclamation-triangle tab-error red"></i>
								<i class="fa fa-info-circle tab-warning"></i>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link format-tab" id="cg3-tab" name="CG3">
								CG3
								<i class="fa fa-exclamation-triangle tab-error red"></i>
								<i class="fa fa-info-circle tab-warning"></i>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link format-tab" id="conllu-tab" name="CoNLL-U">
								CoNLL-U
								<i class="fa fa-exclamation-triangle tab-error red"></i>
								<i class="fa fa-info-circle tab-warning"></i>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link format-tab" id="plain-text-tab" name="plain text">
								plain text
								<i class="fa fa-exclamation-triangle tab-error red"></i>
								<i class="fa fa-info-circle tab-warning"></i>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link format-tab" id="sd-tab" name="SD">
								SD
								<i class="fa fa-exclamation-triangle tab-error red"></i>
								<i class="fa fa-info-circle tab-warning"></i>
							</a>
						</li>

					</div>
					<div class="btn-group ml-auto corpusNavigation">
						<a class="btn btn-secondary pinnable" id="btnToggleTable" href="#" name="show-table">
							<i class="fa fa-table" title="Table view"></i>
						</a>
					</div>

					<div class="btn-group ml-auto corpusNavigation">
						<a class="btn btn-secondary" id="btnToggleTextarea" href="#">
							<i class="fa fa-chevron-up" title="Show/hide text area"></i>
						</a>
					</div>
				</div>
			</div>

			<div id="label-container" class="row">
				<ul id="labels-horiz" class="labels-horiz">
					<li id="label-clear-filter" class="label control">
						<div class="label-text">
							Clear filters
						</div>
					</li>
					<li id="label-controller" class="label control">
						<div class="label-text">
							New label:
							<input id="label-input" />
						</div>
					</li>
				</ul>
			</div>

			<div id="data-container">
				<textarea id="text-data" class="w-100" rows="20" placeholder="Paste text, CoNLL-U or VISL-CG formatted text here.">
				</textarea>
				<div>
					<table id="table-data" tabindex="-1" class="table table-bordered table-sm w-100">
						<thead class="thead-default">
							<tr>
		            <th col-id="0" title="ID">ID</th>
		            <th col-id="1" title="FORM">FORM</th>
		            <th col-id="2" title="LEMMA" class="hideable">
									<span class="col-name">
										LEMMA
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
		            <th col-id="3" title="UPOSTAG" class="hideable">
									<span class="col-name">
										UPOSTAG
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
		            <th col-id="4" title="XPOSTAG" class="hideable">
									<span class="col-name">
										XPOSTAG
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
		            <th col-id="5" title="FEATS" class="hideable">
									<span class="col-name">
										FEATS
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
		            <th col-id="6" title="HEAD" class="hideable">
									<span class="col-name">
										HEAD
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
		            <th col-id="7" title="DEPREL" class="hideable">
									<span class="col-name">
										DEPREL
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
		            <th col-id="8" title="DEPS" class="hideable">
									<span class="col-name">
										DEPS
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
		            <th col-id="9" title="MISC" class="hideable">
									<span class="col-name">
										MISC
									</span>
									<span class="col-show-hide">
										<i class="fa fa-angle-double-left"></i>
									</span>
								</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>

		</div>

		<div id="lower">

	    <div id="graph">

				<div id="graph-buttons">

					<div class="btn-group ml-sx-auto">
						<button id="LTR" type="button" class="btn btn-outline-primary">
							<i class="fa fa-align-right" title="Toggle right-to-left / left-to-right"></i>
						</button>
						<button id="vertical" type="button" class="btn btn-outline-primary">
							<i class="fa fa-align-justify fa-rotate-90" title="Toggle vertical / horizontal display"></i>
						</button>
						<button id="enhanced" type="button" class="btn btn-outline-primary">
							<i class="fa fa-tree" title="Toggle enhanced / basic dependencies"></i>
						</button>
					</div>

				</div>

				<div id="mute">
					<input type="type" id="edit" class="hidden-input" tabindex="3"/>
				</div>

				<div id="cy">
				</div>

			</div>

			<div id="status-container">
				<div class="status fixed">
					<div class="status normal">
						Autoparse:
					</div>
					<div id="parse-status" class="status">
					</div>
					<div class="status normal">
						Graph:
					</div>
					<div id="graph-status" class="status">
					</div>
				</div>
				<div class="status flowing">
				</div>
			</div>

			<div id="chat">
				<div id="chat-persist" class="btn pinnable">
					<div class="chat-header">
						<span>
							Chat
						</span>
						<span class="chat-detail">
							<i id="chat-available" class="fa fa-circle red">
							</i>
							<span id="currently-online-number">
								0
							</span>
							online
						</span>
					</div>
					<div class="chat-header-btn-group">
						<a id="chat-minimize" class="btn btn-secondary" href="#">
							<i class="fa fa-window-minimize">
							</i>
						</a>
						<a id="chat-close" class="btn btn-secondary" href="#">
							<i class="fa fa-times">
							</i>
						</a>
					</div>
				</div>
				<div id="chat-expand" class="btn pinnable">
					<div class="chat-content">
						<ul id="chat-messages">
						</ul>
					</div>
					<div class="chat-footer">
						<input id="chat-input" placeholder="send a message" />
						<a id="chat-send" class="btn btn-secondary" href="#">
							<i class="fa fa-chevron-circle-right">
							</i>
						</a>
					</div>
				</div>
			</div>

			<!--
			<div class="btn-group" id="toggle-collab">
				<a class="btn btn-secondary pinnable" href="#" name="collab">
					<i class="fa fa-edit" title="Collaboration"></i>
					<span>
						<span id="currently-online-number">
							0
						</span>
						online
					</span>
				</a>
				<div id="currently-online-list">
					<table>
						<thead>
							<tr class="online-user">
								<th class="online-user-data username">
									Username
								</th>
								<th class="online-user-data ip-address">
									IP Address
								</th>
								<th class="online-user-data view-index">
									Viewing
								</th>
							</tr>
						</thead>
						<tbody>

							<tr class="online-user">
								<td class="online-user-data username">
									keggsmurph21
								</td>
								<td class="online-user-data ip-address">
									::ffff:192.168.58.210
								</td>
								<td class="online-user-data view-index">
									1
								</td>
							</tr>
							<tr class="online-user">
								<td class="online-user-data username">
									arobey1
								</td>
								<td class="online-user-data ip-address">
									::ffff:192.168.58.112
								</td>
								<td class="online-user-data view-index">
									2
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		-->

			<div id="progress-container">
	      <div id="progress-bar"></div>
	    </div>

		</div>

    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bundle.js"></script>

</body>

</html>
