<div class="modal custom-modal" id="help-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <h5 class="modal-title">Help</h5>
    </div>
    <div class="modal-body">
      <p>Help info here</p>
      <p><a href="help.html">User guide</a></p>
      <p>list of keyboard shortcuts</p>
    </div>
    <div class="modal-footer">
      <button type="button" name="close" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</div>
