# vim: syntax=yaml
---
Language: JavaScript
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
TabWidth: 2
IndentWidth: 2
UseTab: Never
SpacesInContainerLiterals: false
IndentCaseLabels: false
JavaScriptQuotes: Double
JavaScriptWrapImports: true
AlignAfterOpenBracket: true
ColumnLimit: 80
